<%- include('header') -%>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <!-- Alert messages -->
            <% if(locals.logout) { %>
                <div class="alert alert-success text-center text-success mb-3">
                    <%= logout %>
                </div>
            <% } %>
            <% if (locals.error) { %>
                <div class="alert alert-danger text-center text-danger mb-3">
                    <%= error %>
                </div>
            <% } %>
            <% if (locals.success) { %>
                <div class="alert alert-success text-center text-success mb-3">
                    <%= success %>
                </div>
            <% } %>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">Register</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <div class="text-center mt-3">
                        <h2 class="login-title">Login</h2>
                        <span class="login-text">Login for existing users</span>
                    </div>
                    <form action="/route/login" method="post" class="mt-3">
                        <div class="form-group pb-3">
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>                
                        </div>
                        <div class="form-group mb-3">             
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mt-2 me-3 fs-5 login-btn rounded-pill">Login</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <div class="text-center mt-3">
                        <h2 class="register-title">Register</h2>
                        <span class="register-text">Create a new account</span>
                    </div>
                    <form action="/route/register" method="post" class="mt-3">
                        <div class="form-group pb-3">
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>                
                        </div>
                        <div class="form-group mb-3">             
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-success mt-2 me-3 fs-5 register-btn rounded-pill">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>